<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>WinterBoardSettings</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>isController</key>
		<true/>
		<key>icon</key>
		<string>icon.png</string>
		<key>label</key>
		<string>WinterBoard</string>
		<key>pl_filter</key>
		<dict>
			<key>CoreFoundationVersion</key>
			<array>
				<real>0.0</real>
				<real>800</real>
			</array>
		</dict>
	</dict>
</dict>
</plist>
